.content_container {
  padding: 10px;
  /* border: 1px solid black; */
  width: 70%;
  max-height: max-content;
  display: flex;
  justify-self: center;
  /* align-items: center; */
  flex-direction: row;
  margin: 30px 30px 30px 130px;
 
}

.content_body {
  flex: 2.7;
  justify-content: center;
  text-align: center;
  /* border: 1px solid green; */
  margin-left: 100px;
  max-width: 80%;
}
.content_form {
  flex: 0.6;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  margin-right: 10px;
  /* top: 0; */
  /* position: relative; */
  /* width: 15%; */
  /* height: 600px; */
  /* padding: 10px; */
}
