.post_search {
  text-align: center;
  width: fit-content;
  padding: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post_search > form {
  width: 700px;
  height: 130px;
  padding: 5%;
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}

.post_search > form > input {
  width: 100%;
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.post_search > form > button {
  width: 70px;
  padding: 8px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.post_search > form > button:hover {
  background: #8a2eff;
  color: white;
}
